@typeparam TFormElement
@inherits VxBootstrapFormComponents.BootstrapFormElementComponent<TFormElement>


<div class="@CssClass">
    @if (!string.IsNullOrWhiteSpace(Label))
    {
        <label class="col-sm-3 col-form-label" for="@Id">@Label</label>
    }
    <div class="col-sm-9 d-flex justify-content-center flex-column">
        @CreateComponent()
        <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
        <VxFormGenerator.Validation.VxValidationMessage For="@ValueExpression" Class="form-text">
        </VxFormGenerator.Validation.VxValidationMessage>
    </div>
</div>

