@namespace VxFormGenerator.Form.Components.Plain

@inherits VxFormGenerator.Form.Components.Plain.VxInputCheckboxComponent

<div class="@ContainerCss">
    <input type="checkbox" class="@CssClass" id="@Id" @bind="@CurrentValue">

    <label class="@LabelCss" for="@Id">@Label</label>

</div>
