@namespace VxFormGenerator.Form

@typeparam TFormElement
@inherits BootstrapFormElementComponent<TFormElement>


<div class="@CssClass">
    @if (!string.IsNullOrWhiteSpace(Label))
    {
        <label class="col-sm-3 col-form-label" for="@Id">@Label</label>
    }
    <div class="col-sm-9 d-flex justify-content-center flex-column">
        @CreateComponent()
        
        <VxFormGenerator.Core.Validation.VxValidationMessage For="@ValueExpression" Class="form-text">
        </VxFormGenerator.Core.Validation.VxValidationMessage>
    </div>
</div>

