@namespace VxFormGenerator.Render.Bootstrap

@typeparam TFormElement
@inherits BootstrapFormElementComponent<TFormElement>


@if (FieldTemplate != null)
{
    @FieldTemplate(CreateFieldTemplateContext("form-text"))
}
else
{
    <div class="@CssClass">
        @if (!string.IsNullOrWhiteSpace(FormColumnDefinition.RenderOptions.Label) && FormColumnDefinition.RenderOptions.ShowLabel)
        {
            <label class="col-form-label" for="@ElementId">@FormColumnDefinition.RenderOptions.Label</label>
        }

        @CreateComponent()

        <VxFormGenerator.Core.Validation.VxValidationMessage For="@ValueExpression" Class="form-text">
        </VxFormGenerator.Core.Validation.VxValidationMessage>

    </div>
}
