@namespace VxFormGenerator.Form

@typeparam TFormElement
@inherits  FormElementComponent<TFormElement>

@if (FieldTemplate != null)
{
    @FieldTemplate(CreateFieldTemplateContext())
}
else
{
    <div>
        @if (!string.IsNullOrWhiteSpace(FormColumnDefinition.RenderOptions.Label) && FormColumnDefinition.RenderOptions.ShowLabel)
        {
            <label class="col-form-label" for="@ElementId">@FormColumnDefinition.RenderOptions.Label</label>
        }

        @CreateComponent()

        <VxFormGenerator.Core.Validation.VxValidationMessage For="@ValueExpression">

        </VxFormGenerator.Core.Validation.VxValidationMessage>
    </div>
}
