@namespace VxFormGenerator.Form
@using VxFormGenerator.Core.Components
@typeparam TFormElement
@inherits  FormElementComponent<TFormElement>

<div>
    @if (!string.IsNullOrWhiteSpace(FormColumnDefinition.RenderOptions.Label) && FormColumnDefinition.RenderOptions.ShowLabel)
    {
        <label class="col-form-label" for="@Id">
            <span>@FormColumnDefinition.RenderOptions.Label</span>
            @if (!String.IsNullOrEmpty(FormColumnDefinition.RenderOptions.Description))
            {
                <Tooltip Text="@FormColumnDefinition.RenderOptions.Description">
                    <div>(<i class="oi oi-info small"></i>)</div>
                </Tooltip>
            }
        </label>
    }

    @CreateComponent()

    <VxFormGenerator.Core.Validation.VxValidationMessage For="@ValueExpression">

    </VxFormGenerator.Core.Validation.VxValidationMessage>
</div>